@model Fiap.StackOverflow.Web.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "DoggyOverThrone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Questions
            </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>


<div id="wrapper">

    <div id="content">
        <ul id="tab" class="clearfix">
            <li class="page_item current_page_item"><a href="index841b.html?ptype=latest">Recent</a></li>
            <li class="page_item "><a href="index0837.html?ptype=popular">Most Responses</a></li>
            <li class="page_item "><a href="index47a8.html?ptype=unanswered">Unanswered</a></li>
            <li class="page_item "><a href="index7783.html?ptype=answers">Recently Answered</a></li>
        </ul>




        @foreach (var item in Model.Questions)
        {
            <div class="question_list">
                <span class="answers_total">
                    <a href="what-is-worpress/index.html#commentarea">0 </a>   Answers
                </span>

                <h3> <a href="what-is-worpress/index.html" rel="bookmark" title="Permanent Link to What is worpress">@Html.ActionLink(item.Title, "Details", new { id = item.Id })</a></h3>
                <p>
                    <span class="user">Pergunta por: <strong><a href="author/sd%2cjns-jv/index.html" title="Posts by sd,jns jv" rel="author">@Html.DisplayFor(modelItem => item.Author)</a></strong> </span>
                    <span class="views"><b>221 </b> views </span>
                    <span class="ptags">
                        @foreach (var tag in item.Tags)
                        {
                            var text = tag + " ";
                            <a href="#" rel="tag">
                                @Html.DisplayFor(tagItem => text)
                            </a>
                        }
                    </span>
                    <span class="pcate">  <a href="category/uncategorized/index.html" rel="category tag">@item.Category</a> </span>
                </p>
            </div><!-- question #end -->
        }


 <!-- question #end -->
        @*<div class="question_list">
                <span class="answers_total">
                    <a href="wordpress-themes-club/index.html#commentarea">8 </a>   Answers
                </span>

                <h3> <a href="wordpress-themes-club/index.html" rel="bookmark" title="Permanent Link to WordPress Themes Club">WordPress Themes Club</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/johan-offer/index.html" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
                    <span class="views"><b>1164 </b> views </span>
                    <span class="ptags"><a href="tag/screamo/index.html" rel="tag">screamo</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="how-long-can-you-be-away-from-home-before-reported-as-a-runaway/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="how-long-can-you-be-away-from-home-before-reported-as-a-runaway/index.html" rel="bookmark" title="Permanent Link to How long can you be away from home before reported as a runaway">How long can you be away from home before reported as a runaway</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/rajesh/index.html" title="Posts by Stephanie West" rel="author">Stephanie West</a></strong> </span>
                    <span class="views"><b>838 </b> views </span>

                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="why-am-i-created-like-this-flat-and-skinny/index.html#commentarea">7 </a>   Answers
                </span>

                <h3> <a href="why-am-i-created-like-this-flat-and-skinny/index.html" rel="bookmark" title="Permanent Link to Why am i created like this, flat and skinny">Why am i created like this, flat and skinny</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/joseph/index.html" title="Posts by joseph" rel="author">joseph</a></strong> </span>
                    <span class="views"><b>649 </b> views </span>
                    <span class="ptags"><a href="tag/flat-and-skinny/index.html" rel="tag">flat and skinny</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="how-do-i-go-from-looking-like-a-emo-to-a-girly-girl/index.html#commentarea">7 </a>   Answers
                </span>

                <h3> <a href="how-do-i-go-from-looking-like-a-emo-to-a-girly-girl/index.html" rel="bookmark" title="Permanent Link to How do i go from looking like a emo to a girly girl">How do i go from looking like a emo to a girly girl</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/joseph/index.html" title="Posts by joseph" rel="author">joseph</a></strong> </span>
                    <span class="views"><b>487 </b> views </span>
                    <span class="ptags"><a href="tag/girly-girl/index.html" rel="tag">girly girl</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="where-can-i-find-a-good-free-work-out/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="where-can-i-find-a-good-free-work-out/index.html" rel="bookmark" title="Permanent Link to Where can i find a good free work out">Where can i find a good free work out</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/johan-offer/index.html" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
                    <span class="views"><b>2895 </b> views </span>

                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="why-cant-i-get-a-date/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="why-cant-i-get-a-date/index.html" rel="bookmark" title="Permanent Link to Why cant i get a date">Why cant i get a date</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/johan-offer/index.html" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
                    <span class="views"><b>271 </b> views </span>
                    <span class="ptags"><a href="tag/date/index.html" rel="tag">date</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="what-age-do-you-have-to-be-to-get-a-nose-job/index.html#commentarea">6 </a>   Answers
                </span>

                <h3> <a href="what-age-do-you-have-to-be-to-get-a-nose-job/index.html" rel="bookmark" title="Permanent Link to What age do you have to be to get a nose job">What age do you have to be to get a nose job</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/harry/index.html" title="Posts by Jeniffer" rel="author">Jeniffer</a></strong> </span>
                    <span class="views"><b>328 </b> views </span>
                    <span class="ptags"><a href="tag/job/index.html" rel="tag">job</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="what-do-you-guys-think/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="what-do-you-guys-think/index.html" rel="bookmark" title="Permanent Link to What do you guys think">What do you guys think</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/joseph/index.html" title="Posts by joseph" rel="author">joseph</a></strong> </span>
                    <span class="views"><b>264 </b> views </span>
                    <span class="ptags"><a href="tag/guys-think/index.html" rel="tag">guys think</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="how-do-i-get-rid-of-a-pimple-in-24-hours/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="how-do-i-get-rid-of-a-pimple-in-24-hours/index.html" rel="bookmark" title="Permanent Link to How do i get rid of a pimple in 24 hours">How do i get rid of a pimple in 24 hours</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/rajesh/index.html" title="Posts by Stephanie West" rel="author">Stephanie West</a></strong> </span>
                    <span class="views"><b>408 </b> views </span>
                    <span class="ptags"><a href="tag/pimple/index.html" rel="tag">pimple</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="what-should-i-put-on-these-shorts/index.html#commentarea">7 </a>   Answers
                </span>

                <h3> <a href="what-should-i-put-on-these-shorts/index.html" rel="bookmark" title="Permanent Link to What should i put on these shorts">What should i put on these shorts</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/harry/index.html" title="Posts by Jeniffer" rel="author">Jeniffer</a></strong> </span>
                    <span class="views"><b>278 </b> views </span>

                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->



            <div class="question_list">
                <span class="answers_total">
                    <a href="what-are-some-good-songs/index.html#commentarea">5 </a>   Answers
                </span>

                <h3> <a href="what-are-some-good-songs/index.html" rel="bookmark" title="Permanent Link to What are some good songs">What are some good songs</a></h3>
                <p>
                    <span class="user">Asked by: <strong><a href="author/johan-offer/index.html" title="Posts by Russell West" rel="author">Russell West</a></strong> </span>
                    <span class="views"><b>196 </b> views </span>
                    <span class="ptags"><a href="tag/good-songs/index.html" rel="tag">good songs</a><br> </span>
                    <span class="pcate">  <a href="category/questions/index.html" rel="category tag">Questions</a> </span>
                </p>


            </div> <!-- question #end -->

            <div class="pagination">
                <div class="Navi"><strong class="on">1</strong> <a href="page/2/index.html">2</a> <a href="page/2/index.html"><strong>»</strong></a></div>
            </div>


        </div> <!-- content #end -->

        <div id="sidebar" class="sidebar_spacer">

            <a href="https://demo.templatic.com/answers?ptype=ask-a-question" class="b_askquestions">Ask a Question</a>


            <div class="widget login_widget">


                <h3>Login </h3>
                <form name="loginform" id="loginform" action="https://demo.templatic.com/answers/index.php?ptype=login" method="post">
                    <div class="form_row"><label>User Name  <span>*</span></label>  <input name="log" id="user_login1" type="text" class="textfield"> <span id="user_loginInfo"></span> </div>
                    <div class="form_row"><label>Password  <span>*</span></label>  <input name="pwd" id="user_pass1" type="password" class="textfield"><span id="user_passInfo"></span>  </div>

                    <input type="hidden" name="redirect_to" value="https://templatic.com/wordpress-question-answer-themes/answers/">
                    <input type="hidden" name="testcookie" value="1">

                    <input type="submit" name="submit" value="Sign In" class="btn_input_highlight">
                </form>

            </div>

            <div class="widget">
                <div class="textwidget"><a href="https://templatic.com/app-themes/answers"><img src="wp-content/themes/Answers/images/answers-banner.png"></a></div>
            </div><div class="widget">
                <h3>Categories</h3>		<ul>
                    <li class="cat-item cat-item-2">
                        <a href="category/blog/index.html">Blog</a> (4)
                    </li>
                    <li class="cat-item cat-item-5">
                        <a href="category/questions/index.html">Questions</a> (19)
                    </li>
                    <li class="cat-item cat-item-1">
                        <a href="category/uncategorized/index.html">Uncategorized</a> (1)
                    </li>
                </ul>
            </div><div class="widget">
                <form role="search" method="get" id="searchform" class="searchform" action="https://demo.templatic.com/answers/">
                    <div>
                        <label class="screen-reader-text" for="s">Search for:</label>
                        <input type="text" value="" name="s" id="s">
                        <input type="submit" id="searchsubmit" value="Search">
                    </div>
                </form>
            </div><div class="widget">
                <h3 class="clearfix"><span class="fl">Top Users</span><span class="fr point">Point</span></h3>

                <ul class="topusers">
                    <li class="clearfix">
                        <div class="user-details">
                            <div class="user-pic">
                                <a href="author/satyajit/index.html">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="wp-content/themes/Answers/images/avatar_post.png" width="64" height="64">
                                </a>
                            </div>

                            <div class="user-info">
                                <span class="points">862</span>
                                <span class="users">
                                    <a href="author/satyajit/index.html">SATYAJIT</a>
                                </span>

                                <span class="user-answers">
                                    <label class="label-col">Total Answers:</label>10
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="clearfix">
                        <div class="user-details">
                            <div class="user-pic">
                                <a href="author/rajesh/index.html">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="wp-content/uploads/users/20161213110410_janiffer-150X150.jpg" width="64" height="64">
                                </a>
                            </div>

                            <div class="user-info">
                                <span class="points">292</span>
                                <span class="users">
                                    <a href="author/rajesh/index.html">Stephanie West</a>
                                </span>

                                <span class="user-answers">
                                    <label class="label-col">Total Answers:</label>1
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="clearfix">
                        <div class="user-details">
                            <div class="user-pic">
                                <a href="author/testing/index.html">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="wp-content/themes/Answers/images/avatar_post.png" width="64" height="64">
                                </a>
                            </div>

                            <div class="user-info">
                                <span class="points">68</span>
                                <span class="users">
                                    <a href="author/testing/index.html">testing</a>
                                </span>

                                <span class="user-answers">
                                    <label class="label-col">Total Answers:</label>1
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="clearfix">
                        <div class="user-details">
                            <div class="user-pic">
                                <a href="author/arora/index.html">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="../images/testimony-image-3.jpg" width="64" height="64">
                                </a>
                            </div>

                            <div class="user-info">
                                <span class="points">-12</span>
                                <span class="users">
                                    <a href="author/arora/index.html">Arora</a>
                                </span>

                                <span class="user-answers">
                                    <label class="label-col">Total Answers:</label>1
                                </span>
                            </div>
                        </div>

                    </li>
                    <li class="clearfix">
                        <div class="user-details">
                            <div class="user-pic">
                                <a href="author/jagdish/index.html">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="wp-content/themes/Answers/images/avatar_post.png" width="64" height="64">
                                </a>
                            </div>

                            <div class="user-info">
                                <span class="points">-51</span>
                                <span class="users">
                                    <a href="author/jagdish/index.html">jagdish</a>
                                </span>

                                <span class="user-answers">
                                    <label class="label-col">Total Answers:</label>1
                                </span>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>*@

    </div> <!-- sidebar #end -->
</div>