@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div id="wrapper">
        <div id="content">

            <h1 class="page_head">@ViewData["Title"]</h1>
            <div class="breadcrumbs"></div>

            <div class="login_form">
                <div class="login_content">
                    @*<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent aliquam,  justo convallis luctus rutrum, erat nulla fermentum diam, at nonummy quam  ante ac quam. Maecenas urna purus, fermentum id, molestie in, commodo  porttitor, felis. Nam blandit quam ut lacus.</p>*@
                </div>

                <div class="login_form_box">
                    


                    <form method="post">
                        <div class="form_row clearfix">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="textfield" size="20" />
                            <span asp-validation-for="Input.Email" class="alert-danger text-nowrap"></span>
                        </div>
                        <div class="form_row clearfix">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="textfield" size="20" />
                            <span asp-validation-for="Input.Password" class="alert-danger text-nowrap"></span>
                        </div>
                        <p class="rember">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </p>

                        <input class="btn_input_highlight btn_spacer" type="submit" value="Log In" name="submit">
                        <a asp-page="./ForgotPassword">Esqueceu a senha?</a>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
                            Novo cadastro
                        </a>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
