@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container-fluid">
    <div id="wrapper">
        <div id="content">
            <h1 class="page_head">@ViewData["Title"]</h1>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger "></div>

                <div class="form_row clearfix">
                    <label>Primeiro Nome</label>
                    <input asp-for="Input.FirstName" class="textfield" />
                    <span asp-validation-for="Input.FirstName" class="alert-danger text-nowrap"></span>
                </div>
                <div class="form_row clearfix">
                    <label>Sobrenome</label>
                    <input asp-for="Input.LastName" class="textfield" />
                    <span asp-validation-for="Input.LastName" class="alert-danger text-nowrap"></span>
                </div>
                <div class="form_row clearfix">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="textfield" />
                    <span asp-validation-for="Input.Email" class="alert-danger text-nowrap"></span>
                </div>
                <div class="form_row clearfix">
                    <label>Senha</label>
                    <input asp-for="Input.Password" class="textfield" />
                    <span asp-validation-for="Input.Password" class="alert-danger text-nowrap"></span>
                </div>
                <div class="form_row clearfix">
                    <label>Confirmar Senha</label>
                    <input asp-for="Input.ConfirmPassword" class="textfield" />
                    <span asp-validation-for="Input.ConfirmPassword" class="alert-danger text-nowrap"></span>
                </div>
                <input class="btn_input_highlight btn_spacer" type="submit" value="Cadastrar" name="submit">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
